@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .gradient-text-hero{
        background-clip: text !important;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background: linear-gradient(90deg, #71D0F7 0%, rgba(255, 255, 255, 0.76) 48.44%, #E6834A 100%);
    }

    .gradient-badge{
        background: linear-gradient(180deg, #FF692E 0%, #FFF5F2 0.01%, #FFD8C8 100%);
    }

    .pause-animate{
        animation-play-state: paused;
    }

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: all 300ms ease-in-out;
    }

    /* Used For Chrome, Opera and Safari */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Used For Firefox: */
    .no-scrollbar {
        scrollbar-width: none;
    }
    /* Used For MS Edge and IE: */
    .no-scrollbar {
        -ms-overflow-style: none;
    }
}


.trix-content {
    color: #383838 !important;
    font-size: 16px !important;
}

.trix-content p {
    color: #383838 !important;
}

.trix-content strong {
    color: #16181b !important;
    font-size: 1.2rem;
}

.trix-content blockquote {
    color: #141414 !important;
    font-style: italic;
    border-left: 4px solid #5628c2;
    /* color: #707070; */
    padding-left: 10px;
}

.trix-content a {
    color: #5628c2;
    text-decoration: underline;
}

.trix-content ul li,
.trix-content ol li {
    color: #707070 !important;
}
